/* tailwindcss directives global import */
@tailwind base;
@tailwind components;
@tailwind utilities;



/*Tailwindui component specific font "Inter". */
/*Chrome same-site=lax http header checking.
@import url('https://fonts.cdnfonts.com/css/inter');  . can't use cdn with no credential.  https://www.cdnfonts.com/inter.font
approach1: <link cross-origin='anonymous'>
approach2: https://www.cnblogs.com/xbdehaohao/articles/16738560.html
approach3: https://www.pidancode.com/a/16831703615466030.html*/
@font-face {
    font-family: 'Inter';
    src: url('./assets/font/Inter-Regular.ttf');
}

/*Pacifico, only used in Home.vue*/
/*@import url('https://fonts.cdnfonts.com/css/pacifico'); cors forbidden. https://www.cdnfonts.com/pacifico.font*/
@font-face {
    font-family: 'Pacifico';
    src: url('./assets/font/Pacifico-Regular.ttf');
}

:root {
  font-family: 'Inter var', 'Inter', 'system-ui', '--apple-system', 'Helvetica', 'Arial', 'sans-serif';

  /*front rendering, focus on quality*/
  font-synthesis: weight;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  /*-webkit-text-size-adjust: 100%;*/

}

